<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #0c0c0c;
            padding-top: 60px;
            color: white;
        }
        .container {
            background: rgb(51, 51, 51);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            width: 100%;
        }
        nav {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #333;
            padding: 10px;
            text-align: center;
            color: white;
        }
        h2 {
            text-align: center;
            color: white;
        }
        label {
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }
        input, select, button {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            background-color: #007bff;
            color: white;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
        }
        button:hover {
            background-color: #0056b3;
        }
        @media (max-width: 600px) {
            .container {
                padding: 15px;
            }
        }
    </style>
    <script>
        function toggleInscricaoEstadual() {
            var natureza = document.getElementById('natureza').value;
            var inscricaoEstadualField = document.getElementById('inscricao-estadual');
            if (natureza === 'PJ') {
                inscricaoEstadualField.style.display = 'block';
            } else {
                inscricaoEstadualField.style.display = 'none';
            }
        }
    </script>
</head>
<body>
    <%- include('../../public/menu.html') %>
    <div class="container">
        <h2>Cadastro de Cliente</h2>
        <form action="/cliente/cadastrar" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" value="<%= dados.nome%>" name="nome" id="nome" required>

            <label for="email">Email:</label>
            <input type="email" value="<%= dados.email%>" name="email" id="email" required>

            <label for="natureza">Natureza:</label>
            <select id="natureza" value= "<%= dados.natureza  %>" name="natureza" onchange="toggleInscricaoEstadual()" required>
                <option value="PF">Pessoa Física</option>
                <option value="PJ">Pessoa Jurídica</option>
            </select>
        <label for="cnpj_cpf">CPF/CNPJ:</label>
        <input type="text" value="<%= dados.cnpj_cpf %>" id="cnpj_cpf" name="cnpj_cpf" required><br><br>
        <label for="rg">RG:</label>
            <input type="text" value="<%= dados.rg %>" id="rg" name="rg" required>

        <label for="data_nascimento">Data de Nascimento:</label>
        <input type="date" value="<%= dados.nascimento %>" id="nascimento" name="nascimento" required><br><br>

        <label for="promocao">Pacote promoção:</label>
        <select name="id_promocao">
            <% for (let i = 0; i< promocao.length; i++){ %>
                <option value="<%= promocao[i].id_promocao %>"><%= promocao[i].nome_promocao %></option>    
            <% }  %>   
        </select>
        <br><br>

        <h3>Endereço Completo</h3>
        <label for="municipio">Cidade:</label>
        <select name="id_municipio">
            <% for (let i = 0; i< municipio.length; i++){ %>
                <option value="<%= municipio[i].id_municipio %>"><%= municipio[i].nome_municipio %></option>    
            <% }  %>   
        </select>
        <br><br>
        <label for="estado">Estado:</label>
        <input type="text" value="<%= dados.estado %>" id="estado" name="estado" required><br><br>

        <label for="bairro">Bairro:</label>
        <input type="text" value="<%= dados.bairro %>" id="bairro" name="bairro" required><br><br>

        <label for="logradouro">Rua:</label>
        <input type="text" value="<%= dados.logradouro %>" id="logradouro" name="logradouro" required><br><br>

        <label for="numero">Número:</label>
        <input type="text" value="<%= dados.numero %>" id="numero" name="numero" required><br><br>

        <div id="inscricao-estadual" style="display:none;">
            <label for="ie">Inscrição Estadual:</label>
            <input type="text" value="<%= dados.ie %>" id="ie" name="ie"><br><br>
        </div>

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
